<form action="<%= new_cat_url %>" method="post">
  <input type="text" name="cat[name]">
  <input type="text" name="cat[age]">
  <input type="text" name="cat[sex]">
  <input type="text" name="cat[color]">

  <input type="submit" value="Create Cat">
</form>