<form action="<%= new_cat_url %>" method="post">
  <label for="cat_name">Name</label>
  <input type="text" name="cat[name]" id="cat_name">
  <label for="cat_age">Age</label>
  <input type="text" name="cat[age]" id="cat_age">
  <label for="cat_sex">Sex</label>
  <input type="text" name="cat[sex]" id="cat_sex">
  <label for="cat_color">Color</label>
  <input type="text" name="cat[color]" id="cat_color">

  <input type="submit" value="Create Cat">
</form>